<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="static/foto.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Проверка</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="/static/materialize.min.css">

    <!-- Compiled and minified JavaScript -->


    <style>
        .navbar-material .nav-wrapper {
            background: white;
            margin: 20px;
        }

        .card-title {
            font-size: 20px !important;
        }

        .navbar-material .nav-wrapper .brand-logo img {
            height: 64px;
        }
        textarea.materialize-textarea:disabled
        {
            color: black !important;
        }

        @media (max-width: 600px) {
            .navbar-material .nav-wrapper .brand-logo img {
                height: 56px;
            }
        }
    </style>
    <script src="/static/plotly-latest.min.js"></script>
</head>
<body class="grey lighten-5">
<script type="text/javascript" src="/static/jquery-2.1.1.min.js"></script>
<script src="/static/materialize.min.js"></script>
<nav class="nav-extended light-blue darken-3">
    <div class="nav-wrapper" style="padding-left: 30px;">
        <img style="padding: 10px;" height="60px" src="/static/logo.png">
        <a href="/admin" class="brand-logo">Quizer</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
        </ul>
    </div>
    <div class="nav-content">
        <ul class="tabs tabs-transparent">
            <li class="tab"><a href="#list">Статистика</a></li>
            <li class="tab"><a href="#base">База</a></li>
            <li class="tab"><a href="#bio">Биоинформатика</a></li>
            <li class="tab"><a href="#data">Анализ данных</a></li>
            <li class="tab"><a href="#robo">Робототехника</a></li>
            <li class="tab"><a href="#prog">Прикладное программирование</a></li>
            <li class="tab"><a href="#end">Завершить проверку</a></li>

        </ul>
    </div>
</nav>
<div class="container">
    <div id="list" class="col s12" style="padding-top: 20px;">
        <div class="row">
            <div class="col s12 m12">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Статистика</span>
                        <!--<p>data</p>-->
                        <p>База: {{user["base"]}}</p>
                        <p>Биоинформатика: {{user["bio"]}}</p>
                        <p>Анализ данных: {{user["data"]}}</p>
                        <p>Робототехника: {{user["robo"]}}</p>
                        <p>Прикладное программирование: {{user["prog"]}}</p>

                        <div id="plot">
                        </div>

                        <script>
                            var data = [{
                                    x: ['База', 'Биоинформатика', 'Анализ данных', 'Робототехника', 'Прикладное программирование'],
                                    y: [{{user["base"]}}, {{user["bio"]}},
                            {{user["data"]}},
                            {{user["robo"]}},
                            {{user["prog"]}}],
                            type: 'bar'
                            }
                            ]
                            ;

                            Plotly.newPlot('plot', data);
                        </script>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="container">
        <form method="post">
            {% for key, value in answers.items() %}
                <div id="{{key}}" class="col s12 m12" style="padding-top: 20px;">
                    <div class="row">
                        {%for question in value %}
                            <div class="col s12 m12">
                                <div class="card">
                                    <div class="card-content">
                                        <span class="card-title">{% raw question["text"] %}</span>
                                        <div class="row">
                                            {%if question["type"]=="var"%}

                                                {%for i in range(len(question["variants"]))%}
                                                    <p>
                                                        <input type="checkbox" id="{{str(question['_id'])+'-'+str(i)}}" {% if (i in
                                                               question['answer_variants']) %} checked {%end%} disabled>
                                                        <label for="{{str(question['_id'])+'-'+str(i)}}">{{question["variants"][i]}}</label>
                                                    </p>
                                                {%end%}
                                            {%else%}
                                                <div class="input-field col s12">
                                                    <textarea id="{{str(question['_id'])}}" class="materialize-textarea" disabled>{{question['answer']}}</textarea>
                                                    <label for="{{str(question['_id'])}}">Ответ</label>
                                                </div>
                                            {%end%}
                                            Оценка:
                                            <div class="input-field inline">
                                                <input style="text-align: right;" type="text" id="{{str(question['_id'])}}_mark"
                                                       name="{{str(question['_id'])}}" value="{{str(question['points'])}}"/>
                                                <label for="{{str(question['_id'])}}_mark">Оценка</label>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        {%end%}
                    </div>
                </div>
            {%end%}
            <div id="end" class="col s12" style="padding-top: 20px;">
                <div class="row">
                    <div class="col s12 m12">
                        <div class="card">
                            <div class="card-content">
                                <span class="card-title">Завершение проверки</span>
                                <div class="row">
                                    <button class="waves-effect waves-light btn">Работа проверена</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </form>
    </div>
</body>
</html>
