<!DOCTYPE html>
<html lang="en">
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Проверка</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->


    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <style>
.navbar-material .nav-wrapper {
  background: white;
  margin: 20px;
}
.navbar-material .nav-wrapper .brand-logo img {
  height: 64px;
}
@media (max-width: 600px) {
  .navbar-material .nav-wrapper .brand-logo img {
    height: 56px;
  }
}
    </style>
</head>
<body class="grey lighten-5">
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
<nav class="nav-extended light-blue darken-3">
    <div class="nav-wrapper" style="padding-left: 30px;">
        <img style="padding: 10px;" height="60px" src="http://roctbb.ru/logo.png" >
        <a href="#" class="brand-logo">Quizer</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
        </ul>
    </div>    <div class="nav-content">
    <ul class="tabs tabs-transparent">
        <li class="tab"><a href="#list">Ответы</a></li>
        <li class="tab"><a href="#test0">База</a></li>
        <li class="tab"><a href="#test1">Биоинформатика</a></li>
        <li class="tab"><a href="#test2">Анализ данных</a></li>
        <li class="tab"><a href="#test3">Робототехника</a></li>
        <li class="tab"><a href="#test4">Прикладное программирование</a></li>

    </ul>
</div>
</nav>
<div class="container">
    <div id="list" class="col s12" style="padding-top: 20px;">
        <div class="row">
            <div class="col s12 m12">
                <div class="collection">
                    <a href="#!" class="collection-item">Alvin</a>
                </div>
            </div>
        </div>
    </div>
    <form action="#">
        <div id="test1" class="col s12" style="padding-top: 20px;">

            <div class="big card white">
                <div class="card-content white-text">
                    <div class="row">
                        <div class="col s12">
                            <ul class="tabs">
                                <li class="tab col s3"><a href="#test11">Вопрос с выбором ответа</a></li>
                                <li class="tab col s3"><a class="active" href="#test12">Вопрос с текстовым ответом</a></li>
                            </ul>
                        </div>
                        <div id="test11" class="col s12">
                            <div class="input-field col s12">
                                <input id="quest" type="text" class="validate">
                                <label for="quest">Вопрос</label>
                            </div>
                            <div class="input-field col s12">
                                <input id="score" type="text" class="validate">
                                <label for="score">Баллы</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="point1" type="text" class="validate">
                                <label for="point1">Пункт</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="point2" type="text" class="validate">
                                <label for="point2">Пункт</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="point3" type="text" class="validate">
                                <label for="point3">Пункт</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="point4" type="text" class="validate">
                                <label for="point4">Пункт</label>
                            </div>
                        </div>
                        <div id="test12" class="col s12">
                            <div class="input-field col s12">
                                <input id="quest1" type="text" class="validate">
                                <label for="quest1">Вопрос</label>
                            </div>
                            <div class="input-field col s12">
                                <input id="score1" type="text" class="validate">
                                <label for="score1">Баллы</label>
                            </div>
                        </div>

                    </div>

                </div>
            </div>



            <div class="row">
                {%for question in questions["bio"]%}
                <div class="col s12 m12">
                    <div class="card blue darken-1">
                        <div class="card-content white-text">
                            <span class="card-title">{{question["text"]}}</span>
                            <div class="row">
                                {%if question["type"]=="var"%}

                                {%for i in range(len(question["variants"]))%}
                                <p>
                                    <input type="checkbox" id="answer" name="{{str(question['_id'])+'-'+str(i)}}" value="on" {% if (question["answers"][i]==True) %} checked {%end%} disabled>
                                    <label for="test">{{question["variants"][i]}}</label>
                                </p>
                                {%end%}
                                {%else%}
                                <div class="input-field col s12">
                                    <textarea id="textarea1" class="materialize-textarea" name=""></textarea>
                                    <label for="textarea1">Ответ</label>
                                </div>
                                {%end%}
                            </div>
                        </div>
                    </div>

                </div>
                {%end%}
            </div>
        </div>
</div>
</form>
</body>
</html>
